@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif; 
  background: linear-gradient(50deg, rgb(19, 18, 18) 20%, rgb(36, 44, 43) 50%, rgb(37, 10, 2) 80%);
  margin: 0;
  color: #fff;
  margin-left: -70px;
}

.signup-container {
  width:  130%;
  height: 500px;
  background-color: transparent;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(254, 255, 221, 0.7);
  text-align: center;
}

.signup-title {
  font-size: 32px;
  margin-bottom: 2.5rem;
  color: #f3eeeb;
}


.signup-icon-mail {
  position: relative;
  left: -178px;
  top: 32px;
  color: #9c5b2a;
}
.signup-icon-user{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9c5b2a;
}
.signup-input {
  width: 86%;
  padding: 15px 15px 14px 30px;
  /* padding: 0.75rem 0.75rem 0.75rem 30px; Adjust padding to accommodate icon */
  margin-bottom: 1rem;
  border: none;
  border-radius: 15px;
  /* background-color: #494646; */
  color: #050505;
}

.signup-input::placeholder {
  color: #7c7979;
  font-family: 'Roboto';
  font-size: 14px;
  padding-left: 10px;
}

#signup-email, #signup-username, #signup-password {
  margin-bottom: 30px;
}
.signup-icon-pass{
    position: relative;
    left: -182px;
    top: 38px;
    transform: translateY(-50%);
    color: #9c5b2a;
}
.signup-icon-user{
   Position: relative;
   color: #9c5b2a;
   /* bottom: 60px; */
   top:40px;
   left: -180px
}
.signup-toggle-password {
   Position: relative;
   cursor: pointer;
   color: #9c5b2a;
   bottom: 60px;
   left: 173px
}

.signup-button {
  width: 96%;
  padding: 0.75rem;
  margin-bottom: 3rem;
  margin-top: 22px;
  border: none;
  border-radius: 15px;
  background-color: #123b32;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #8f4311;
}

.signup-link {
    color: #d38950;
    text-decoration: none;
  position: relative;
}
.signup-p{
    position: relative;
    bottom: 40px;
}

.signup-link:hover {
  text-decoration: underline;
}

.signup-error {
  color: red;
  margin-top: 1rem;
}
